{% for pack_data in pack_list %}
<div style="padding: 10px 5px 15px 50px; height: 300px;width: 560px; background-color: white">
    <div style="width: 432px; height: 288px;overflow: hidden; ">
        <div style="position: relative; width: 432px; height: 288px;overflow: hidden; ">
            <a href="{{ pack_data.geography_url }}"><img style="width: 432px;height: 288px;display: block" src="{{ pack_data.geography_img_url }}">
            </a>
            <div class="image_title_moving">
                <p style="color: white">{{ pack_data.geography_title }}</p>
                <p style="color: white">{{ pack_data.geography_author }}</p>
            </div>

        </div>

    </div>

</div>
<div style="width: 10px;height: 30px; "></div>
{% endfor %}