{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Flasky - Post{% endblock %} {% block page_content %}

<div style="padding:15px 5px 15px 10px;background-color: white">
    <li style="list-style-type: none;">
        <div class="post-thumbnail">
            <div style="float: left;width:50px;height: 50px;border-radius:100%;overflow: hidden;">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=50) }}">
                </a>
            </div>
            <div style="position: relative;margin:0px 0px 0px 70px;">
                <a style="text-decoration:none" href="{{ url_for('.user', username=post.author.username) }}">
                    <p style="font-family: SimHei;font-size: 16px;color:black"><b>{{ post.author.name }}</b> {% if post.author.is_administrator() %}<img src="{{ url_for('static', filename='v3.png') }}">{% else %} {% endif %}
                    </p>
                </a>
            </div>

            <div style="position: relative;margin:0px 0px 0px 70px;">
                <div class="post-date">
                    <p style="font-size: 5px">{{ moment(post.timestamp).fromNow() }}</p>
                </div>
                <div class="post-body">
                    {% if post.body_html %} {{ post.body_html | safe }} {% else %} {{ post.body }} {% endif %}
                </div>
                <div style="margin: 10px 0px 10px 300px">
                    <a href="{{ url_for('.post', id=post.id) }}">
                        <span class="label label-default">查看更多</span>
                    </a>
                </div>
                <div style="margin: 10px 0px 10px 20px">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="text-decoration: none" href=""><img src="{{ url_for('static', filename='repost.png') }}">&nbsp;转发</img>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="text-decoration: none" href="{{ url_for('.post', id=post.id) }}"><img src="{{ url_for('static', filename='comments.png') }}">&nbsp;评论 {% if post.comments.count() > 0 %}
                            <span>{{ post.comments.count() }}</span> {% endif %}
                            </img>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a style="text-decoration: none" href=""><img src="{{ url_for('static', filename='heart_fill.png') }}">&nbsp;喜欢</img>
                        </a>
                    </p>
                </div>
            </div>
    </li>
    </div>
    <div style="width: 100%; height: 1px; border:1px;background-color: rgba(0,0,0,0.1)"></div>
    <div style="padding: 50px 500px 10px 80px ;background-color:white">{{ wtf.quick_form(form) }} </div>
    {% for comment in post.comments %}
    <div style="padding:3px 5px 5px 80px;background-color: white">
        <div style="float: left;width:30px;height: 30px;overflow: hidden;">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=30) }}">
            </a>
        </div>
        <div style="position: relative;margin:0px 0px 0px 20px;">
            <a style="text-decoration:none" href="{{ url_for('.user', username=comment.author.username) }}">
                <p style="font-size: 10px;color:black">{{ comment.author.name }} {% if post.author.is_administrator() %}<img src="{{ url_for('static', filename='v3.png') }}">{% else %} {% endif %}:{{ comment.body }}
                </p>
            </a>

        </div>
        <div style="position: relative;">
            <p style="font-size: 10px;color:black">{{ moment(comment.timestamp).fromNow() }}</p>
        </div>
    </div>
    {% endfor %}
    <div style="height: 15px;">
    </div>



    <div style="height: 603px;width: 100px;"></div>
    {% endblock %}