{% extends "base.html" %} {% block title %}Flasky - {{ user.username }}{% endblock %} {% block page_content %}
<div>
    <div style="height: 20px;"></div>
    <div style="margin: 0px 0px 0px 100px;padding: 20px 0px 0px 30px;width:80%;height:350px;background-image:url(../static/flower1.jpg);background-repeat:no-repeat">
        <div style="width:128px;height: 128px;border-radius:100%;overflow: hidden;">
            <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=128) }}">
        </div>
        <p></p>
        <p style="font-size:20px;">{% if user.name %}{{ user.name }}{% endif %}</p>
        {% if user.location %}
        <p align="left">
            来自 <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
        </p>
        {% endif %} {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %} {% if user.about_me %}
        <p>简介：{{ user.about_me }}</p>{% endif %}
        <p>注册时间： {{ moment(user.member_since).format('L') }}，上次活跃时间 {{ moment(user.last_seen).fromNow() }}。</p>
        {% if current_user.can(1) and user != current_user %} {% if not current_user.is_following(user) %}
        <a style="text-decoration:none " href="{{ url_for('.follow', username=user.username) }}"><img src="{{ url_for('static', filename='follow.png') }}"></img>
        </a>{% if current_user != user %} &nbsp;&nbsp;
        <a style="text-decoration:none " href=""><img src="{{ url_for('static', filename='message.png') }}"></img>
        </a>{% endif %} {% else %}
        <a style="text-decoration:none " href="{{ url_for('.unfollow', username=user.username) }}"><img src="{{ url_for('static', filename='unfollow.png') }}"></img>
        </a>{% if current_user != user %} &nbsp;&nbsp;
        <a style="text-decoration:none " href=""><img src="{{ url_for('static', filename='message.png') }}"></img>
        </a>{% endif %} {% endif %} {% endif %}
    </div>
</div>
<div style="height: 10px;"></div>
<div style="float: left;margin: 0px 0px 0px 100px;width:270px;height:500px; ">
    <div style="padding: 15px 10px 5px; height: 90px;background-color: white">
        <table width="250px" height="50px">
            <tr>
                <td width="70px" align="center">
                    <p style="font-size: 18px "><a style="text-decoration: none" href="{{ url_for('.followed', username=user.username) }}">{{ user.followed.count() }}</a></p>
                    <p style="color:#808080 "><a style="text-decoration: none" href="{{ url_for('.followed', username=user.username) }}">关注</a></p>
                </td>
                <td width="70px" align="center">
                    <p style="font-size: 18px ">
                        <a style="text-decoration: none" href="{{ url_for('.followers', username=user.username) }}">{{ user.followers.count() }}</a>
                    </p>
                    <p style="color:#808080 ">
                        <a style="text-decoration: none" href="{{ url_for('.followers', username=user.username) }}">粉丝</a>
                    </p>
                </td>
                <td width="70px" align="center">
                    <p style="font-size: 18px ">
                        <a style="text-decoration: none" href="{{ url_for('main.user', username=user.username) }}">{{ user.posts.count() }}</a>
                    </p>
                    <p style="color:#808080 ">
                        <a style="text-decoration: none" href="{{ url_for('main.user', username=user.username) }}">发表</a>
                    </p>
                </td>
            </tr>
        </table>
    </div>
    <div style="height: 10px; "></div>
    <div style="height: 150px; background-color: white ">
        <div style="padding :115px 0 0 40px">
            {% if current_user == user %}
            <a style="text-decoration: none" href="{{ url_for( '.edit_profile') }} ">编辑个人资料 >></a> {% endif %} {% if current_user.is_administrator() %}
            <a style="text-decoration: none" href="{{ url_for( '.edit_profile_admin', id=user.id) }} ">超级修改 >> </a> {% endif %}
        </div>
    </div>
</div>
<div>
    <div style="padding: 10px 0px 0px 20px; margin: 0px 0px 0px 389px;width:622px;height:40px;background-color:white ">
        <p>
            <a href=" ">全部</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href=" "><img src="{{ url_for( 'static', filename='hot1.jpg' ) }} "></img>热门</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href=" ">其他</a>
        </p>

    </div>
    <div style="position: relative;margin:10px 128px 0px 350px ">
        {% include '_posts.html' %}
    </div>
</div>

{% endblock %}